<div class="card shadow mb-4">
    <h4 class="card-header">
        Thông tin người dùng
    </h4>
    <div class="card-body">
        
        <form method="POST">
            {{#if err_message}}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{err_message}}
        </div>
        {{/if}}
        <div class="form-group">
            <label for="IdNguoiDung">#</label>
            <input type="text" class="form-control" id="txtIdNguoiDung"name="txtIdNguoiDung" readonly value="{{this.infor.IdNguoiDung}}" >
        </div>
        <div class="form-group">
            <label for="HoVaTen">Tên người dùng</label>
            <input type="text" class="form-control" id="txtHoVaTen"name="txtHoVaTen"   value="{{this.infor.HoVaTen}}">
        </div>
        
        <div class="form-group">
            <label for="CatID">Email</label>
            <input type="text" class="form-control" id="txtEmail"name="txtEmail"   value="{{this.infor.Email}}">
        </div>
        <div class="form-group">
            <label for="txtNgaySinh">Ngày sinh</label>
            <input type="text" class="form-control" id="txtNgaySinh"name="txtNgaySinh"  value="{{this.infor.NgaySinh}}">
        </div>
        <div class="form-group">
            <label for="txtnewpass">New Password</label>
            <input type="password" class="form-control" id="txtnewpass"name="txtnewpass"  >
        </div>
        
        <div class="form-group">
            <label for="txtnewpass">Password</label>
            <input type="password" class="form-control" id="txtpass"name="txtpass"  >
        </div>
        <div class="text-right">
        <a  class="btn btn-outline-warning  "href="/" role="button">
            <i class="fa fa-backward" aria-hidden="true"></i>
            Return
        </a>
        <button type="submit" class="btn btn-primary " formaction="/account/patch"><i class="fa fa-check" aria-hidden="true"></i>Save</button>
        </div>
        </form>



    </div>
    
</div>