
   
           
            <div class="wishlist-area pt-60 pb-60">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <form action="#">
                                <div class="table-content table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="cart-product-id">ProducId</th>
                                                <th class="cart-product-name">ProductName</th>
                                                <th> ngayhethan</th>
                                                <th> gia hien tai</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each product}}
                                            <tr>
                                                
                                                <input id="txtId" name="txtId" style="display:none;" value={{IdSanPham}}></input>
                                                <td>{{IdSanPham}}</td>
                                                <td><a href="/products/{{IdSanPham}}">{{TenSanPham}}</a></td>
                                                <td>{{NgayHetHan}}</td>
                                                <td>{{GiaHienTai}}</td>
\                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="paginatoin-area">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <p></p>
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <ul class="pagination-box">
                                                {{#if (neq isPage 1)}}
                                                <li><a href="?page={{prev_value}}" class="Previous"><i
                                                            class="fa fa-chevron-left"></i>
                                                        Previous</a>
                                                </li>
                                                {{/if}}

                                                {{#each this.page_numbers}}
                                                {{#if isCurrentPage}}
                                                <li class="active"><a href="javascript:;">{{value}}</a></li>
                                                {{else}}
                                                <li class=""><a href="?page={{value}}">{{value}}</a></li>
                                                {{/if}}
                                                {{/each}}

                                                {{#if (neq isPage num_of_page)}}
                                                <li>
                                                    <a href="?page={{next_value}}" class="Next"> Next <i
                                                            class="fa fa-chevron-right"></i></a>
                                                </li>
                                                {{/if}}

                                            </ul>
                                        </div>
                                    </div>
            </div>
           
            